h1{
	font-family: 'Space Mono', monospace;
}

body{
	background: #868686;
} 

.header{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
}

main-content{
	width: 100%;
	height: 77vh;
}

button{
	padding: 20px 35px;
    border-radius: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: rgba(9, 113, 178, 0.3);
    margin: 0 auto;
    font-size: 1.3em;
    cursor: pointer;
    transition: 0.25s;
}

button:hover{
    background-color: rgba(9, 113, 178, 0.2);
}

.setup{
	width: 100%;
	text-align: center;
	height: 100%;
}

.container,
.gu-mirror{
	margin: 0 auto;
	width: 50%;
	height: 100%;
	background-color: rgba(255,255,255,0.01);
	width: 450px;
	max-height: 450px;
	overflow-x: hidden;
	position: relative;
	flex-direction: column;
}

.container p{
	height: 45%;
    padding: 10px 20px;
    text-align: center;
}

.container img{
	height: 250px;
    opacity: 0.1;
    width: 250px;
    margin: 20px auto 0;
}

.desc{
	height: 25%;
	margin: 0 auto;
	p{
		font-size: 1.2em;
		width: 100%;
		margin-top: -25px;
	}
}

.logo{
	height: 55%;
	margin: 0 auto;
	img{
		margin-top: 20px;
	}
}

.cta{
	height: 20%;
	margin: 10px auto 0px;
}

.step-1,.step-2, .step-3{
	height: 100%;
	position: relative;
	transition: all 0.7s;
	display: inline-block;
	width: 450px;
}

.step-1.currentStep{
	opacity: 1;
}
.step-1.prevStep,
.step-2.prevStep{
	margin-left: -900px;
	opacity: 0;
}

.step-2.nextStep,
.step-3.nextStep{
	opacity: 0;
	margin-left: 825px;
    margin-top: -450px;
}

.step-2,
.step-3{
    margin-top: -450px;
}

.step-2.currentStep,
.step-3.currentStep{
	opacity: 1;
}

.step-2 ul,
.step-3 ul,
.gu-mirror ul{
	list-style: none;
    max-width: 80%;
    margin: 0 auto;
    background: rgba(0,0,0,0.1);
    overflow-y: auto;
    padding: 0px;
}

.step-2 input,
.step-3 input,
.gu-mirror input{
	width: 80%;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 10px 0px;
    text-indent: 20px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #FFF;
    background-color: rgba(0,0,0,0.1);
}

.step-2 img,
.step-3 img,
.gu-mirror img{
	height: 40px;
	width: 40px;
	margin-right: 10px;
    padding-left: 20px;
}

.step-2 .result-item,
.step-3 .result-item,
.gu-mirror .result-item{
	float: left;
	width: 100%;
	height: 40px;
	padding: 10px 0px;
	border-bottom: 1px solid #373b48;
}

.step-2 .result-item:hover,
.step-3 .result-item:hover{
	background-color: rgba(55, 59, 72, 0.3);
	cursor: pointer;
}

.step-2 .result-item a,
.step-3 .result-item a,
.gu-mirror .result-item a{
    align-items: center;
	color: white;
    display: flex;
	float: left;
    text-decoration: none;
}

.step-2 h1, .step-3 h1{
	font-family: 'Libre Franklin', sans-serif;
	font-size: 1.6em;
}

.arrow{
	opacity: 0;
	position: absolute;
	z-index:5;
	transition: 0.1s;
}

.back{
	left: 10px;
	bottom: 10px;
}

.showArrow{
	opacity: 0.3;
	transition: 0.3s;
}

.showArrow:hover{
	opacity: 0.5;
	cursor: pointer;
	transition: 0s;
}

.list{
	opacity: 0;
	transition: opacity 0.2s, height 0.7s;
	height: 0%;
}

.showList{
	opacity: 1;
	height: 60%;
}

.search-input{
	position: relative;
}

.search-input img{
	right: 60px;
    top: 12px;
    height: 15px;
    width: 15px;
    position: absolute;
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
}

.search-input img:hover{
	opacity: 0.5;
	cursor: pointer;
}

.next{
	transform: rotateY(180deg);
	bottom: 10px;
	right: 10px;
}

.channels-selected{
    position: absolute;
    bottom: 20px;
    right: 55px;
}

.channels-selected img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: -14px;
    padding: 0px;
    margin-bottom: -8px;
    border: 1px solid #555;
    transform: scale(1);
	transition: 0.4s ease;
	position: relative;
	z-index: -1;
}

.channels-selected span{
	margin-left: -7px;
    color: #111;
    background: white;
    padding: 5px 10px;
    border-radius: 50%;
    border: 1px solid #555;
}
 
.justAdded img{
	transform: scale(1.5);
	position: relative;
}

.beenAdded img{
	transform: scale(1);
	transition: 0.5s ease;
}

.result-item.gu-mirror a{
	display: flex;
    margin-top: 3%;
    align-items: center;
}

.prompt-arrow{
    position: absolute;
    bottom: -100px;
    right: -225px;
    transform: scale(0.6);
    opacity: 0;
    transition: 0.4s;
}

.prompt-arrow h1{
    font-size: 1em;
    width: 50%;
    margin-left: 106px;
}

.prompt-arrow img{
	height: 50px;
	width: 50px;
	transform: rotate(210deg);
}

.outer{
    overflow: visible;
    position: relative;
    height: 100%;
    width: 450px;
    max-height: 450px;
    margin: 0 auto;
}

.inner{
	overflow: hidden;
}

.showPrompt{
	transform: scale(1);
	opacity: 1;
}