<div class="setup flex-center flex outer">
	<setup *ngIf="showSetup" class="setup flex-center container flex inner" (outputCurrentStep)="currentStep = $event" (chosenChannels)="generateSubs($event)"></setup>
	<div [class.showPrompt]="currentStep == 2" class="prompt-arrow">
		<div class="arrow-parts">
			<img src="../assets/Curved_Arrow.svg.png" alt="">
			<h1>View your better subscriptions</h1>
		</div>
	</div>
</div>

<div *ngIf="!showSetup" class="setup flex-center flex outer">
	<ul>
		<li class="subscription" *ngFor="let sub of results">
			<img src="{{sub.snippet.thumbnails.default.url}}" alt="">	
			<h3>{{sub.snippet.title}}</h3>
			<h3>{{sub.snippet.channelTitle}}</h3>
		</li>
	</ul>
</div>