<div [class.showArrow]="currentStep>0" (click)="currentStep=currentStep-1" class="arrow back">
	<img src="../assets/circle-left.png" alt="">
</div>

<div class="step-1" [class.currentStep]="currentStep==0" [class.prevStep]="currentStep>0">
	<div  class="logo">
		<img src="assets/yt-logo.png" alt="">
	</div>
	<div class="desc">
		<p>YouTube subscriptions suck.<br>Let's make them better.</p>
	</div>
	<div class="cta">
		<button (click)="nextStep()">Get started</button>
	</div>
</div>

<div class="step-2" [class.nextStep]="currentStep==0" [class.currentStep]="currentStep==1" [class.prevStep]="currentStep>1">
	<h1>Select your favourite channels</h1>
	<div class="search-input">
		<input type="text" [formControl]="search" placeholder="Enter a channel name">
		<img (click)="clearSearch()" *ngIf="search.value" src="../assets/cross.png" alt="">
	</div>
	<ul class="list" [class.showList]="search.value">
		<li>
			<div (click)="addToSelected(channel)" class="result-item" *ngFor="let channel of results | async" >
				<a>
				<img src="{{channel.snippet.thumbnails.default.url}}" alt="">
				{{channel.snippet.title}}
				</a>
			</div>
		</li>
	</ul>
	<div [class.justAdded]="justAdded" [class.beenAdded]="!justAdded" *ngIf="channels.length" class="channels-selected">
		<img src="{{channels[channels.length-1].icon}}" alt="">
		<span class="count">{{channels.length}}</span>
	</div>
</div>

<div class="step-3" [class.nextStep]="currentStep!=2 && currentStep < 2" [class.currentStep]="currentStep==2" [class.prevStep]="currentStep>2">
	<h1>Rank your favourite channels</h1>
	<ul [dragula]='"bag-channels"' [dragulaModel]='channels' class="list showList">
		<li class="result-item" *ngFor="let channel of channels">
			<a>
			<img src="{{channel.icon}}" alt="">
			{{channel.name}}
			</a>
		</li>
	</ul>
</div>

<div [class.showArrow]="currentStep>0 && channels.length" (click)="currentStep=currentStep+1" class="arrow next">
	<img src="../assets/circle-left.png" alt="">
</div>